body {
  margin: 0;
  background: url("../img/background.png");
}
hr {
  border-top: solid 1px #aaa;
}
a:hover {
  text-decoration: none;
}
#header {
  z-index: 1000;
  width: 100%;
  height: auto;
  text-align: center;
  background: url("../img/background.png");
  margin: 0;
  padding: 0;
}
#header #logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: auto;
  margin: -20px auto auto 40px;
  background: #ddd;
  opacity: 0.5;
  border-radius: 350px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 40px 10px;
}
#header #user-panel {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 30px;
}
#header #user-panel a {
  padding: 5px;
  color: #666;
}
#header #user-panel a:hover {
  color: #39f;
}
#header #navigator {
  width: 50%;
  height: auto;
  overflow: hidden;
  margin: 50px auto auto auto;
}
#header #navigator .item {
  width: 12.5%;
  height: auto;
  display: inline-block;
  float: left;
}
#header #navigator .item img {
  width: 70%;
  height: 70%;
  background: rgba(0,0,0,0.4);
}
#header #navigator .item p {
  border-top: solid 2px rgba(100,100,100,0.6);
  padding: 5px 0 10px 0;
  width: 90%;
  height: auto;
  color: #666;
  margin: auto;
  text-shadow: 1px 0 1px #fff;
  box-shadow: 0 1px 0 #fff inset;
}
#header #navigator .item:hover {
  cursor: pointer;
}
#header #navigator .item:hover img {
  background: rgba(48,144,255,0.8);
}
#header #navigator .item:hover p {
  border-top: solid 2px #39f;
  color: #39f;
}
#header #navigator .item.active img {
  background: rgba(0,48,144,0.8);
}
#header #navigator .item.active p {
  border-top: solid 2px #039;
  color: #039;
}
#container {
  background: none;
  margin: auto;
  width: 70%;
  height: auto;
}
#container #content {
  text-align: center;
  margin: 0 auto;
  clear: both;
  width: 95%;
}
#container #content .image-block {
  margin: 10px;
  padding: 0;
  float: left;
  border: solid 1px #ccc;
  box-shadow: 0 0 2px #bbb;
  width: 200px;
  border-radius: 5px;
  background: -webkit-linear-gradient(bottom, #eee, #efefef 90%, #fff 100%);
}
#container #content strong {
  color: #007;
}
#container #content p {
  clear: both;
}
#container #content .image {
  margin: 10px;
  z-index: 0;
}
#container #content .image img {
  border-radius: 5px;
  border: solid 1px #ddd;
  box-shadow: 0 0 2px #eee;
}
#container #content .image-info {
  padding: 10px;
  border-radius: 5px;
}
#container #content .image-info .favor,
#container #content .image-info .like,
#container #content .image-info .at {
  vertical-align: middle;
  float: right;
  margin: 0 5px;
}
#container #content .image-info .favor img,
#container #content .image-info .like img,
#container #content .image-info .at img {
  width: 18px;
  height: 18px;
}
#container #content .image-info .favor .number,
#container #content .image-info .like .number,
#container #content .image-info .at .number {
  vertical-align: bottom;
  color: #999;
  text-shadow: 1px 0 1px #fff;
}
#container #content .image-info .favor:hover,
#container #content .image-info .like:hover,
#container #content .image-info .at:hover {
  cursor: pointer;
  text-decoration: none;
}
#footer {
  text-align: center;
  clear: both;
}
