@font-face {
  font-family: CenturyGothic;
  src: url("/static/font/CenturyGothic/GOTHIC.ttf");
}
@font-face {
  font-family: CenturyGothicBold;
  src: url("/static/font/CenturyGothic/GOTHICB.ttf");
}
.button {
  font-family: CenturyGothic;
  font-size: 0.8em;
  color: #fff;
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
  border: solid 1px #aaa;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: -webkit-linear-gradient(bottom, #4cd2ff, #7df 100%);
  background: -moz-linear-gradient(bottom, #4cd2ff, #7df 100%);
  padding: 2px 25px;
  margin: 20px 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
body {
  margin: 0;
  background: #ddd;
}
hr {
  border-top: solid 1px #aaa;
}
a:hover {
  text-decoration: none;
}
#header {
  z-index: 1000;
  width: 100%;
  height: auto;
  text-align: center;
  background: #444;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
}
#header #logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: auto;
  margin: -20px auto auto 40px;
  background: #ddd;
  opacity: 0.5;
  border-radius: 350px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 40px 10px;
}
#header #user-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;
  margin-right: 50px;
}
#header #user-panel a {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px auto;
  padding: 5px;
  color: #999;
}
#header #user-panel a:hover {
  color: #fff;
}
#header #navigator {
  width: 50%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
#header #navigator .item {
  width: 12.5%;
  height: 65px;
  display: inline-block;
  float: left;
  border-bottom: solid 5px #444;
}
#header #navigator .item a {
  display: block;
  font-size: 1.2em;
  padding: 5px 0 10px 0;
  margin: 20px auto;
  width: 90%;
  height: auto;
  color: #999;
  text-shadow: 0 0 2px #000;
}
#header #navigator .item:hover {
  cursor: pointer;
  border-bottom: solid 5px #ddd;
}
#header #navigator .item:hover a {
  color: #fff;
}
#header #navigator .item.active {
  border-bottom: solid 5px #ddd;
}
#header #navigator .item.active a {
  color: #ddd;
}
#container {
  background: none;
  margin: 80px auto;
  clear: both;
  width: 1000px;
  height: auto;
}
#container .image-block {
  margin: 10px;
  padding: 0;
  float: left;
  border: solid 1px #ccc;
  box-shadow: 0 0 2px #bbb;
  width: 200px;
  border-radius: 5px;
  background: -webkit-linear-gradient(bottom, #eee, #efefef 90%, #fff 100%);
}
#container .image-block strong {
  color: #007;
}
#container .image-block p {
  clear: both;
}
#container .image-block .image {
  margin: 10px;
  z-index: 0;
}
#container .image-block .image img {
  border-radius: 5px;
  border: solid 1px #ddd;
  box-shadow: 0 0 2px #eee;
}
#container .image-block .image-info {
  padding: 10px;
  border-radius: 5px;
  clear: both;
  overflow: hidden;
}
#container .image-block .image-info .favor,
#container .image-block .image-info .like,
#container .image-block .image-info .at {
  vertical-align: middle;
  float: right;
  margin: 0 5px;
}
#container .image-block .image-info .favor img,
#container .image-block .image-info .like img,
#container .image-block .image-info .at img {
  width: 18px;
  height: 18px;
}
#container .image-block .image-info .favor .number,
#container .image-block .image-info .like .number,
#container .image-block .image-info .at .number {
  vertical-align: bottom;
  color: #999;
  text-shadow: 1px 0 1px #fff;
}
#container .image-block .image-info .favor:hover,
#container .image-block .image-info .like:hover,
#container .image-block .image-info .at:hover {
  cursor: pointer;
  text-decoration: none;
}
#container .image-block .image-info strong {
  padding-left: 10px;
  color: #666;
  float: left;
}
#footer {
  width: 100%;
  height: auto;
  text-align: center;
  clear: both;
}
