@font-face {
  font-family: CenturyGothic;
  src: url("/static/font/CenturyGothic/GOTHIC.ttf");
}
@font-face {
  font-family: CenturyGothicBold;
  src: url("/static/font/CenturyGothic/GOTHICB.ttf");
}
.button {
  font-family: CenturyGothic;
  font-size: 0.8em;
  color: #fff;
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
  border: solid 1px #aaa;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: -webkit-linear-gradient(bottom, #4cd2ff, #7df 100%);
  background: -moz-linear-gradient(bottom, #4cd2ff, #7df 100%);
  padding: 2px 25px;
  margin: 20px 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.section-title {
  margin-top: 50px;
  font-weight: bold;
  text-shadow: 1px 0 1px #fff;
}
.product-author {
  position: relative;
  margin: 10px auto;
}
.product-author .author-avatar {
  width: 40px;
  height: 40px;
}
.product-author .author-avatar img {
  border-radius: 5px;
}
.product-author .author-name {
  color: #999;
  text-shadow: 1px 0 1px #fff;
  padding-left: 5px;
}
.product-author .author-name .name {
  color: #777;
}
.product-author .product-title {
  color: #666;
  padding-left: 5px;
  font-weight: bold;
}
.product-wrapper {
  background: rgba(255,255,255,0.5);
  box-shadow: 0 0 1px #666 inset;
  padding: 1px;
}
.product-wrapper .product {
  position: relative;
}
.product-wrapper .product .image {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.product-wrapper .product .operations {
  position: absolute;
  bottom: 65px;
  right: 0;
  margin-right: 10px;
  clear: both;
}
.product-wrapper .product .operations a {
  color: #999;
  text-shadow: 1px 0 0 #fff;
}
.product-wrapper .product .operations a img {
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.product-wrapper .product .operations a:hover {
  color: #666;
  cursor: pointer;
}
.product-wrapper .product .operations a.favor {
  font-weight: bold;
  color: #666;
  float: left;
}
.product-wrapper .product .operations a.favor:hover {
  color: #333;
}
.product-wrapper .product .operations a.like {
  float: right;
  margin: 0 10px;
}
.product-wrapper .product .operations a.at {
  float: right;
}
.product-wrapper .product .description {
  color: #666;
}
.product-wrapper .product .description p {
  margin: 20px;
}
.product-wrapper .product .description .tags {
  color: #fff;
}
.product-wrapper .product .description .tags .tag {
  padding: 3px 10px;
  border-radius: 3px;
  background: rgba(0,208,255,0.5);
}
.product-wrapper .product .buy {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.product-wrapper .product .buy a.buy-button {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 10px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: #000;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #d64d93, #ab2e66 100%);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 5px #666;
}
.product-wrapper .product .buy a.buy-button:hover {
  background: -webkit-linear-gradient(top, #ab2e66, #d64d93, 100%);
}
.product-wrapper .product .shares {
  padding: 0 10px;
  position: absolute;
  bottom: -25px;
  right: 0;
  text-align: right;
  color: #999;
}
.product-wrapper .product .shares img {
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  margin: 0 0 0 5px;
}
.magazines .magazine-group-title {
  margin-top: 30px;
  margin-left: 20px;
  color: #999;
}
.magazines .magazine-group-title strong {
  color: #666;
}
.magazines .magazine {
  width: 90%;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(255,255,255,0.5);
  text-align: center;
  box-shadow: 0 0 1px #666 inset;
  margin-top: 10px;
  margin-left: 20px;
}
.magazines .magazine .magazine-image-wrapper {
  box-shadow: 0 0 1px #666;
  margin: 12px;
  width: 90%;
  height: 100px;
  clear: both;
  overflow: hidden;
}
.magazines .magazine .magazine-image-wrapper img {
  float: left;
  width: 50%;
  height: auto;
}
.magazines .magazine .magazine-title {
  display: block;
  color: #999;
  margin: 10px;
}
.magazines .magazine .magazine-title:hover {
  color: #666;
  cursor: pointer;
}
.comments .comment {
  border-bottom: solid 1px #ccc;
  box-shadow: 0 1px 1px #fff;
  margin: 20px 20px 0 0;
}
.comments .comment .avatar {
  float: left;
}
.comments .comment .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.comments .comment .content {
  margin-left: 50px;
}
.comments .comment .content .author-name {
  font-weight: bold;
  color: #666;
  text-shadow: 1px 0 1px #fff;
  margin-bottom: 0;
}
.comments .comment .content .comment-content {
  color: #999;
}
.commenter textarea {
  margin: 0 20px 0 0;
}
