body {
    padding-top: 60px;
}

footer {
    text-align: center;
    clear: both;
}

#cascade-container {
    margin: 0 auto;
}

.image-block {
    margin: 10px;
    padding: 0;
    float: left;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #999;
    width: 200px;
}

.image-block strong {
    color: #007;
}

.image-block p {
    clear: both;
}

.image-block .image {
    margin: 10px;
    z-index: 0;
}

.image-block .image-info {
    background: #eee;
    padding: 10px;
}
