@import helpers

body
  margin 0
  background url('../img/background.png')

hr
  border-top solid 1px #aaa

a:hover
  text-decoration none

#header
  z-index 1000
  size 100% auto
  text-align center
  background url('../img/background.png')
  margin 0
  padding 0
  #logo
    position fixed
    top 0
    left 0
    size 10% auto
    margin -20px auto auto 40px
    background #ddd
    opacity 0.5
    border-radius 350px
    display table-cell
    text-align center
    vertical-align middle
    padding 40px 10px

  #user-panel
    position fixed
    top 0
    right 0
    margin 10px 30px
    a
      padding 5px
      color #666
      &:hover
        color #39f

  #navigator
    size 50% auto
    overflow hidden
    margin 50px auto auto auto
    .item
      size 12.5% auto
      display inline-block
      float left
      img
        size 70% 70%
        background rgba(0, 0, 0, 0.4)
      p
        border-top solid 2px rgba(100, 100, 100, 0.6)
        padding 5px 0 10px 0
        size 90% auto
        color #666
        margin auto
        text-shadow 1px 0 1px white
        box-shadow 0 1px 0 white inset
      &:hover
        cursor pointer
        img
          background rgba(48, 144, 255, 0.8)
        p  
          border-top solid 2px #39f
          color #39f
    .item.active
      img
        background rgba(0, 48, 144, 0.8)
      p  
        border-top solid 2px #039
        color #039

#container
  background none
  margin auto
  clear both
  size $full auto
  .image-block
    margin 10px
    padding 0
    float left
    border solid 1px #ccc
    box-shadow 0 0 2px #bbb
    width 200px
    border-radius 5px
    background -webkit-linear-gradient(bottom, #eee, #efefef 90%, white 100%)
    strong
      color #007
    p
      clear both
    .image
      margin 10px
      z-index 0
      img
        border-radius 5px
        border solid 1px #ddd
        box-shadow 0 0 2px #eee
    .image-info
      padding 10px
      border-radius 5px
      clear both
      overflow hidden
      .favor, .like, .at
        vertical-align middle
        float right
        margin 0 5px
        img
          size 18px 18px
        .number
          vertical-align bottom 
          color #999
          text-shadow 1px 0 1px white
        &:hover
          cursor pointer
          text-decoration none
      strong
        padding-left 10px
        color #666
        float left

#footer
  size 100% auto
  text-align center
  clear both
