@import helpers

body
  margin 0
  background $grey13

hr
  border-top solid 1px #aaa

a:hover
  text-decoration none

#header
  z-index 1000
  size 100% auto
  text-align center
  background $grey4
  position fixed
  top 0
  margin 0
  padding 0
  #logo
    position fixed
    top 0
    left 0
    size 10% auto
    margin -20px auto auto 40px
    background #ddd
    opacity 0.5
    border-radius 350px
    display table-cell
    text-align center
    vertical-align middle
    padding 40px 10px
  #user-panel
    position fixed
    top 0
    right 0
    height $header-height
    margin-right 50px
    a
      display inline-block
      font-size 1.2em
      font-weight bold
      margin 20px auto
      padding 5px
      color $grey9
      &:hover
        color white
  #navigator
    size 50% auto
    overflow hidden
    margin 0 auto
    .item
      size 12.5% $header-height
      display inline-block
      float left
      border-bottom solid 5px $grey4
      a
        display block
        font-size 1.2em
        font-weight bold
        padding 5px 0 10px 0
        margin 20px auto
        size 90% auto
        color $grey9
        text-shadow 0 0 2px black
      &:hover
        cursor pointer
        border-bottom solid 5px $grey13
        a  
          color white
    .item.active
      border-bottom solid 5px $grey13
      a
        color $grey13

#container
  background none
  margin 80px auto
  clear both
  size $full auto
  .image-block
    margin 10px
    padding 0
    float left
    border solid 1px #ccc
    box-shadow 0 0 2px #bbb
    width 200px
    border-radius 5px
    background -webkit-linear-gradient(bottom, #eee, #efefef 90%, white 100%)
    strong
      color #007
    p
      clear both
    .image
      margin 10px
      z-index 0
      img
        border-radius 5px
        border solid 1px #ddd
        box-shadow 0 0 2px #eee
    .image-info
      padding 10px
      border-radius 5px
      clear both
      overflow hidden
      .favor, .like, .at
        vertical-align middle
        float right
        margin 0 5px
        img
          size 18px 18px
        .number
          vertical-align bottom 
          color #999
          text-shadow 1px 0 1px white
        &:hover
          cursor pointer
          text-decoration none
      strong
        padding-left 10px
        color #666
        float left

#footer
  size 100% auto
  text-align center
  clear both
