@import helpers

$zexpo-width = 1000px
$zexpo-item-size = $zexpo-width / 7

#zexpo
  position relative
  size 1000px auto
  margin 100px auto
  .expo-item
    size $zexpo-item-size $zexpo-item-size
    position absolute
    overflow hidden
    top -1000px
    .operation
      img
        size 20px 20px
    .at
      absolute-top-right 5px 5px
    .like
      absolute-bottom 5px 5px
    .share
      absolute-bottom-right 5px 5px
