@import helpers

.column-1
  float left
  size $quater auto
  margin 0
  
.column-2
  float left
  size $half auto
  margin 0

.column-3
  float left
  size ($half + $quater) auto
  margin 0
  
.column-4
  float left
  size $full auto
  margin 0
