@import helpers

.column-1
  float left
  size $quater auto
  margin 0
  
.column-2
  float left
  size $half auto
  margin 0

.column-3
  float left
  size ($half + $quater) auto
  margin 0
  
.column-4
  float left
  size $full auto
  margin 0

.column-1-6
  float left
  size $sixth auto
  margin 0

.column-5-6
  float left
  size ($full - $sixth) auto
  margin 0

.column-2-3
  float left
  size ($full * 2 / 3) auto
  margin 0

.column-1-12
  float left
  size $twelfth auto
  margin 0

.column-11-12
  float left
  size ($full - $twelfth) auto
  margin 0
