
.block-zbook
  overflow hidden

#lightbox-wrapper
  display none
  z-index 2000
  position fixed
  background rgba(0, 0, 0, 0.8)
  top 0
  left 0
  right 0
  bottom 0

  #lightbox
    position relative
    margin auto auto
