@import helper

#slider
  size 100% 400px
  text-align center
  background -webkit-linear-gradient(bottom, #eee, #efefef 90%, white 100%)
  border solid 1px #ccc
  box-shadow 0 0 2px #bbb
  border-radius 5px
  margin auto
  .slide-wrapper
    size 95% 90%
    margin auto
    .slide
      size 100% 100%
      clear both
      overflow hidden
      margin 20px 0
      .content
        position relative
        float left
        margin 0
        size 30% 100%
        h1
          text-align left
        p
          text-align left
          position absolute
          left 0
          bottom 0
          padding-right 20px
          text-align justify
      .image
        margin 0
        size 70% 100%
        overflow hidden
