@import helpers

#user-info
  clear both
  .avatar
    text-align center
    .avatar-table
      img
        size 100px auto
        border-radius 5px
        box-shadow 0 0 3px $grey6
    .info-table
      text-shadow 1px 0 1px white
      .username
        padding-left 20px
        color $grey3
        font-weight bold
        font-size 1.2em
        text-align left
      .location
        padding-left 20px
        padding-bottom 20px
        color $grey6
        font-size 0.9em
        text-align left
      td
        color $grey6
        font-size 1.1em
        border-right solid 1px $grey12
      td:last-child
        border none
      .number
        color #069
        font-weight bold
        font-size 2em
        text-shadow 1px 0 1px white
    .detail-table
      text-align left
      .detail-info
        padding-left 20px
        color $grey6
        font-size 0.9em

.navigate
  margin 20px auto
  .navigate-table
    text-align center
    color $grey6
    font-size 1.1em
    font-weight bold
    text-shadow 1px 0 1px white
    td
      vertical-align middle
      padding 5px
      border-top solid 3px $grey11
      border-bottom solid 3px $grey11
      a
        color $grey8
    td.border-right
      border-right solid 1px $grey11
    .navigate-left
      size 100px auto
    .navigate-left.navigate-item
      &:hover
        cursor pointer
        border-bottom solid 3px $grey9
        a
          color black
    .navigate-right
      size 100px auto

#tab-content
  .user
    size ($full / 8) ($full / 8)
    float left
    overflow hidden
    text-align center
    img
      size 70% 70%
      border-radius 100%
      box-shadow 0 0 5px $grey9
      -webkit-transition -webkit-transform 0.3s ease
      &:hover
        cursor pointer
        -webkit-transform rotate(20deg)
    p
      text-shadow 1px 0 1px white
      color $grey6
      margin-top 5px
