@import helpers

.product-author
  position relative
  margin 10px auto
  .author-avatar
    size 40px 40px
    img
      border-radius 5px
  .author-name
    color $grey9
    text-shadow 1px 0 1px white
    padding-left 5px
    .name
      color $grey7
  .product-title
    color $grey6
    padding-left 5px
    font-weight bold

.product-wrapper
  .product
    position relative
    .image
      position relative
      padding-top 10px
      padding-bottom 10px
      background white
      text-align center
      box-shadow 0 0 1px $grey6 inset
      img
        size 96% auto
      .operations
        size 100% auto
        absolute-bottom -25px 0
        clear both
        a
          color $grey9
          text-shadow 1px 0 0 white
          img
            size 15px 15px
            vertical-align text-bottom
          &:hover
            color $grey6
            cursor pointer
        a.favor
          font-weight bold
          color $grey6
          float left
          &:hover
            color $grey3
        a.like
          float right
          margin 0 10px
        a.at
          float right
    .description
      color $grey6
      p
        margin 10px
    .buy
      absolute-bottom-right 0 0
      a.buy-button
        font-weight bold
        font-size 1.8em
        margin 0 10px
        text-align center
        text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
        padding-top 15px
        padding-bottom 15px
        display block
        color black
        border-radius 5px
        background -webkit-linear-gradient(top, #d64d93, #ab2e66 100%)
        background-transition 0.5s
        box-shadow 0 0 5px $grey6
        &:hover
          background -webkit-linear-gradient(top, #ab2e66, #d64d93, 100%)
    .shares
      padding 0 10px
      absolute-bottom-right -25px 0
      text-align right
      color $grey9
      img
        size 15px 15px
        vertical-align text-bottom
        margin 0 0 0 5px

.comments
  margin-top 35px

.magazines
  .magazine-group-title
    margin-top 30px
    color $grey9
    strong
      color $grey6
  .magazine
    size 90% auto
    padding-top 1px
    padding-bottom 1px
    background white
    text-align center
    box-shadow 0 0 1px $grey6 inset
    margin-top 10px
    .magazine-image-wrapper
      box-shadow 0 0 1px $grey6
      margin 12px
      size 90% 100px
      clear both
      overflow hidden
      img
        float left
        size 50% auto
    .magazine-title
      display block
      color $grey9
      margin 10px
      &:hover
        color $grey6
        cursor pointer

.comments
  .comment
    border-bottom solid 1px $grey12
    box-shadow 0 1px 1px white
    margin 20px
    margin-left 0
    .avatar
      float left
      img
        size 40px 40px
        border-radius 5px
    .content
      margin-left 50px
      .author-name
        font-weight bold
        color $grey6
        text-shadow 1px 0 1px white
        margin-bottom 0
      .comment-content
        color $grey9
