@import helpers

$form-width = 270px
$form-padding = 50px
$textarea-height = 200px
$input-padding = 3px

.zform
  display block
  background #f4f3ef
  // background url('../img/background.png')
  size $form-width auto
  margin auto
  padding 20px $form-padding
  // border solid 1px #ddd
  box-shadow 0 0 5px $grey14
  border-radius 5px
  input
    border solid 1px $grey14
    border-radius 0
    padding 5px $input-padding
    margin 0 auto 10px auto
    size ($form-width - 2*$input-padding) auto
  input[type='checkbox']
    size 20px auto
    margin-bottom 4px
  textarea
    padding $input-padding
    size ($form-width - 2*$input-padding) $textarea-height
  select
    size $form-width auto
  button[type='submit']
    color white
    margin 10px auto
    background #c95d5d
    size $form-width auto
    border solid 1px $grey14
    padding 5px
    &:hover
      cursor pointer
  label
    display inline
    color $grey9

#message
  display none

.messagebox
  background url('../img/background.png')
  margin 0 auto
  size 300px 150px
  text-align center
  border solid 1px #ddd
  box-shadow 0 0 20px #999
  border-radius 5px

