@import helper

$form-width = 350px
$form-padding = 20px
$textarea-height = 200px
$input-padding = 3px

.zform
  display block
  background url('../img/background.png')
  size $form-width auto
  margin auto
  padding $form-padding
  border solid 1px #ddd
  box-shadow 0 0 20px #999
  border-radius 5px
  input
    padding $input-padding
    size ($form-width - 2*$input-padding) auto
  textarea
    padding $input-padding
    size ($form-width - 2*$input-padding) $textarea-height
  select
    size $form-width auto

